@CHARSET "utf-8"; 
.board {
	width: 90%;
	margin: 10px auto;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px;
	border-radius: 7px;
	overflow: hidden;
	border: solid 1px #ddd;
}

.board th {
	background-color: rgb(52, 78, 227);
	color: white;
}

.board td {
	text-align: center;
	border-bottom: #ddd solid 1px;
}

.board a {
	text-decoration: none;
	color: d9d9d9;
}

.board td:nth-child(2) {
	text-align: left;
}

.board tr:nth-child(2n):hover {
	background-color: #ddd;
}

       